@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  color: white;
  box-sizing: border-box;
}
.container {
  /* background: linear-gradient(to bottom right, #5f0a87, #a4508b); */
  background: url("./components/img2.jfif");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.wrapper {
  font-weight: 200;
  overflow: scroll;
  /* overflow-y:  */
  overflow-x: hidden;
  border: none;
  border-radius: 15px;
  width: 400px;
  height: 500px;
  display: flex;
  /* background: linear-gradient(
    to top left,
    rgba(32, 39, 46, 0.8),
    rgba(49, 55, 61, 0.8)
  ); */
  background: rgba(0, 0, 0, 0.8);
  flex-direction: column;
  align-items: center;
  padding: 25px;
  box-shadow: 1px 1px 20px 5px rgba(54, 62, 70, 0.5);
}

input {
  box-sizing: content-box;
  background: transparent;
  border: 3px solid #4b11df;
  border-radius: 5px;
  padding: 5px;
  margin-top: 12px;
  width: 200px;
  color: white;
  outline: #500574;
}

button {
  height: 33px;
  background: linear-gradient(to bottom right, #560cfe, #8c00f9);
  border: none;
  width: 80px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  font-weight: 500;
  transition: transform 0.2s;
}
button:hover {
  cursor: pointer;
  background: linear-gradient(to bottom right, #4a14c7, #7125ac);
  transform: scale(1.1, 1.1);
}
/* .todo-button:within {
  transform: scale(1, 1);
} */
li {
  /* margin-top: 10px; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
  margin-bottom: 3.5px;
  padding: 7px;
  border-radius: 5px;
  background: linear-gradient(
    90deg,
    rgba(255, 118, 20, 1) 0%,
    rgba(255, 84, 17, 1) 100%
  );
}
li:nth-child(4n + 1) {
  background: linear-gradient(
    90deg,
    rgba(93, 12, 255, 1) 0%,
    rgba(155, 0, 250, 1) 100%
  );
}
li:nth-child(4n + 2) {
  background: linear-gradient(
    90deg,
    rgba(255, 12, 241, 1) 0%,
    rgba(250, 0, 135, 1) 100%
  );
}
li:nth-child(4n + 3) {
  background: linear-gradient(
    90deg,
    rgba(20, 150, 255, 1) 0%,
    rgba(17, 122, 255, 1) 100%
  );
}
.adjust {
  margin-top: 15px;
}

li span {
  font-weight: 600;
  font-size: 15px;
}
.fa-edit {
  margin-right: 5px;
  transition: transform 0.2s;
}
.fa-trash-alt {
  transition: transform 0.2s;
}
.fa-trash-alt:hover {
  /* color: red; */
  cursor: pointer;
  transform: scale(1.1, 1.1);
}

/* .fa-trash-alt:focus {
  color: red;
  transform: scale(1, 1);
} */

.fa-edit:hover {
  /* color: lightgreen; */
  cursor: pointer;
  transform: scale(1.1, 1.1);
}
